body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header, footer {
  text-align: center;
  padding: 10px;
}

main {
  margin: 20px;
}

/* Light and Dark mode variables */
:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}
